@font-face
{
font-family: myFirstFont;
src: url('ALLHEART.TTF'); /* IE9+ */
}
.encerrar{
	padding: 20em 0em 0em 30em;
}
.texto{
	z-index: 1;
	-webkit-transition:color 1s, font-size 1s;
	color: black;
	float: left;
	font-family:myFirstFont;
	font-size:60px;
	padding-left: 20px;
	width:20px;
}
.texto:hover{
	color:red;
	font-size:90px;
}
#espacio{
	height:20px;
	width:20px;
}
#titulo{
	display:block;
	margin-left:700px;
	margin-top:100px;
}	
.T{
	-webkit-animation-direction: normal;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name : aparecer;
	background-color:red;
	color:black;
	float: left;
	font-size:70px;
	padding-left: 20px;
	top:0px;
	width:60px;
}
.heart {
	-webkit-animation-direction: normal;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
    -webkit-animation-name : heart;
    height: 600px;
    left:0px;
    position: absolute;
    top:200px;
    width: 600px;
    z-index: -1;
}
.heart:before{
            transform-origin: 0 100%;
            transform: rotate(-45deg);
         -o-transform-origin: 0 100%;
         -o-transform: rotate(-45deg);
        -ms-transform-origin: 0 100%;
        -ms-transform: rotate(-45deg);
       -moz-transform-origin: 0 100%;
       -moz-transform: rotate(-45deg);
    -moz-border-radius: 150px 150px 130px 0;
    -webkit-transform-origin: 30% 0%;
    -webkit-transform: rotate(-45deg);
    background: red;
    border-radius: 150px 150px 130px 0;
    content: "";
    height: 290px;
    position: absolute;
    top: 0;
    width: 500px;
}
.heart:after {
            transform-origin :10px 15px;
            transform: rotate(45deg);
         -o-transform-origin: 10px 15px;
         -o-transform: rotate(45deg);
        -ms-transform-origin: 10px 15px;
        -ms-transform: rotate(45deg);
       -moz-transform-origin: 10px 15px;
       -moz-transform: rotate(45deg);
     position: absolute;
    -moz-border-radius: 150px 120px 150px 130px;
    -webkit-transform-origin: 70% 0%;
    -webkit-transform: rotate(45deg);
    background: red;
    border-radius: 150px 120px 150px 130px;
    content: "";
    height: 290px;
    left:0px;
    top: 0;
    width: 500px;
}
.heart#heart1{
	 -webkit-animation-name : movimiento-diagonal;
	-webkit-animation-direction: normal;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
}
.heart#heart2{
	 -webkit-animation-name : movimiento-diagonal;
	-webkit-animation-delay: 1s;
	-webkit-animation-direction: normal;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes movimiento-diagonal {
25% {
	-webkit-transform: rotate(120deg);
}
75% {
	-webkit-transform: rotate(-120deg);
}
100% {
	-webkit-transform: rotate(0deg);
}
}
@-webkit-keyframes aparecer {
100% {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	/*-webkit-transform:rotate(45deg);*/
}
}
@-webkit-keyframes heart {
	0%{
	transform: scale(0.5,0.5);
	-ms-transform: scale(0.5,0.5); /* IE 9 */
	-webkit-transform: scale(0.5,0.5); /* Safari and Chrome */
	-o-transform: scale(0.5,0.5); /* Opera */
	-moz-transform: scale(0.5,0.5);
	}
	15%{
	transform: scale(0.5,0.5);
	-ms-transform: scale(0.5,0.5); /* IE 9 */
	-webkit-transform: scale(0.5,0.5); /* Safari and Chrome */
	-o-transform: scale(0.5,0.5); /* Opera */
	-moz-transform: scale(0.5,0.5);
	}
20% {
	transform: scale(1,1);
	-ms-transform: scale(1,1); /* IE 9 */
	-webkit-transform: scale(1,1); /* Safari and Chrome */
	-o-transform: scale(1,1); /* Opera */
	-moz-transform: scale(1,1);
}
25%{
	transform: scale(0.5,0.5);
	-ms-transform: scale(0.5,0.5); /* IE 9 */
	-webkit-transform: scale(0.5,0.5); /* Safari and Chrome */
	-o-transform: scale(0.5,0.5); /* Opera */
	-moz-transform: scale(0.5,0.5);
	}
30% {
	transform: scale(1,1);
	-ms-transform: scale(1,1); /* IE 9 */
	-webkit-transform: scale(1,1); /* Safari and Chrome */
	-o-transform: scale(1,1); /* Opera */
	-moz-transform: scale(1,1);
}
35%{
	transform: scale(0.5,0.5);
	-ms-transform: scale(0.5,0.5); /* IE 9 */
	-webkit-transform: scale(0.5,0.5); /* Safari and Chrome */
	-o-transform: scale(0.5,0.5); /* Opera */
	-moz-transform: scale(0.5,0.5);
	}
85%{
	transform: scale(0.5,0.5);
	-ms-transform: scale(0.5,0.5); /* IE 9 */
	-webkit-transform: scale(0.5,0.5); /* Safari and Chrome */
	-o-transform: scale(0.5,0.5); /* Opera */
	-moz-transform: scale(0.5,0.5);
	}
90% {
	transform: scale(1,1);
	-ms-transform: scale(1,1); /* IE 9 */
	-webkit-transform: scale(1,1); /* Safari and Chrome */
	-o-transform: scale(1,1); /* Opera */
	-moz-transform: scale(1,1);
}
95%{
	transform: scale(0.5,0.5);
	-ms-transform: scale(0.5,0.5); /* IE 9 */
	-webkit-transform: scale(0.5,0.5); /* Safari and Chrome */
	-o-transform: scale(0.5,0.5); /* Opera */
	-moz-transform: scale(0.5,0.5);
}
100%{
	transform: scale(0.5,0.5);
	-ms-transform: scale(0.5,0.5); /* IE 9 */
	-webkit-transform: scale(0.5,0.5); /* Safari and Chrome */
	-o-transform: scale(0.5,0.5); /* Opera */
	-moz-transform: scale(0.5,0.5);
	}
}

#footer{
	margin-top:170px;
}